body {
    background-color: #1e1e20;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.title-color {
    color: #2061ae;
}

.icon-menu{
    margin-right: 5px;
    height: 20px;
}