body {
    background-color: #1e1e20;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.card-title {
    color: white;
    margin: 1rem;
    font-size: 2rem;
}

.icon-menu{
    margin-right: 5px;
    height: 20px;
}

.custom-card{
    background-color: #252529;
    border: 1px solid #252529;
    box-shadow: 0 0.5rem 1rem #252529;
    padding: 1rem;
}

.custom-card-body{
    color: white;
    padding: 2rem;
}

.custom-container{
    padding: 1rem;
}