body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.custom-row {
    --bs-gutter-x: 0;
}

.icon-menu{
    margin-right: 5px;
    height: 25px;
}

h4{
    color: #2061ae;
}
.custom-link{
    color: #2061ae;
    text-decoration: none;
}

.custom-card-body {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0rem;
    padding-bottom: 2rem;
}

.custom-header{
    font-size: 2rem;
    font-weight: bold;
    color: #2061ae;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.custom-big-header{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #2061ae;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.custom-card{
    margin: 1rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.04);
}

.custom-big-card{
    background-color: transparent;
    max-width: 60%;
    margin: 0 auto; 
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.custom-pre{
    border-radius: 0.5rem;
}

.custom-divider{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.table-dark-custom{
    background-color: #0d1117;
    border-radius: 0.5rem;
    font-size: .875em;
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
    padding: 1em;
}

.table-value-cell{
    color: #79c0ff;
}

.table-header-cell{
    color: #c9d1d9;
}

table.table-bordered{
    border:1px solid #c9d1d9;
    margin-top:20px;
}
table.table-bordered > thead > tr > th{
    border:1px solid #c9d1d9;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #c9d1d9;
}